:root {
    --main-color: #10cab7;
    --blue-color: #2c4755;
    --grey-section: #f6f6f6;
    font-family: "Work Sans", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

/* -------------------------- HEADER --------------------------- */

header {
    height: 100vh;
}

.top-header {
    height: 10%;
    background-color: white;
    padding: 0 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.top-header img {
    width: 55px;
    height: 25px;
}

.nav {
    position: relative;
}

.nav-divs {
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.nav-divs div {
    width: 30px;
    height: 2px;
    background-color: black;
    transition: width .5s;
}

.nav-divs div:nth-child(2) {
    width: 20px;
    align-self: flex-end;

}

.nav-links {
    position: absolute;
    top: 40px;
    right: 0;
    visibility: hidden;
}

.nav-links a {
    text-decoration: none;
    display: block;
    width: 190px;
    padding: 15px;
    background-color: var(--grey-section);
    margin-bottom: 1px;
    color: black;
    transition: .5s;

}

.triangle {
    position: absolute;
    bottom: -14px;
    right: 5px;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--grey-section);
    border-left: 10px solid transparent;
    visibility: hidden;
}

.nav:hover .nav-divs div {
    width: 30px;
}

.nav:hover .triangle {
    visibility: visible;
}

.nav:hover .nav-links {
    visibility: visible;
}

.nav-links a:hover {
    padding: 15px 25px;
}


.image-header {
    height: 90%;
    background-image: url("../images/ankit-manoharan-sVMzbc1ya6I-unsplash.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-header .text-zone {
    width: 295px;
    height: 100px;
    line-height: 30px;
}

.image-header .text-zone h1 {
    font-size: 50px;
    margin-bottom: 30px;
    color: var(--main-color);
}

.image-header .text-zone p {
    font-size: 19px;
}

/* ------------------------------- FEATURES SECTION ------------------------------ */
.features {
    padding: 100px 220px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--grey-section);
}

.feature {
    width: 27%;
    height: 220px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feature i {
    color: var(--main-color);
    font-size: 55px;
}

.feature:last-child i {
    font-size: 50px;
}

.feature p {
    line-height: 25px;
    font-size: 105%;
    color: #777;
}

/* -------------------------- SERVICES SECTION --------------------------- */
.services {
    width: 100%;
    height: 100vh;
    padding: 50px 190px;
}

.services .text-zone {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    color: #ebeced;
}

.services .text-zone h1 {
    font-size: 620%;
    font-weight: 800;
    letter-spacing: -3px;
    margin-bottom: -31px;
}

.services .text-zone p {
    font-size: 125%;
    color: #797979;
}

.services .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 126%;
    background-color: var(--blue-color);
    top: 0;
    right: 0;
    transform: translate(50%, -45px);
}

.services .container .services-container {
    width: 72%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.services .container img {
    width: 23%;
    height: 350px;
    position: relative;
}

.service {
    width: 45%;
    display: flex;
    margin-bottom: 40px;
}

.service i {
    margin-right: 10px;
}

.service h3 {
    display: inline-block;
    margin-bottom: 20px;
}

.service p {
    color: #444;
    font-weight: 300;
    line-height: 24px;
}

.service i {
    color: #10cab7;
    font-size: 200%;
    margin: 0 20px;
}

/* ---------------------------------- PORTFOLIO SECTION ------------------------------ */
.portfolio {
    padding: 50px 190px;
    background-color: #f6f6f6;
}

.text-zone-portfolio {
    text-align: center;
    margin-bottom: 80px;
    color: #797979;
}

.text-zone-portfolio h1 {
    font-size: 620%;
    font-weight: 800;
    letter-spacing: -3px;
    margin-bottom: -31px;
    opacity: 0.1;
}

.text-zone-portfolio p {
    font-size: 125%;
}

.portfolio-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.single-portfolio {
    width: 31.6%;
    height: 400px;
    background-color: white;
}

.single-portfolio img {
    width: 100%;
    height: 60%;
    background-color: red;
}



.single-portfolio h3,
.single-portfolio p {
    margin: 20px;
}

.single-portfolio p {
    opacity: 0.55;
}

/* ----------------------------- ABOUT SECTION --------------------------------- */
.about {
    padding: 50px 200px 100px;
}

.text-zone-about {
    text-align: center;
    margin-bottom: 80px;
    color: #797979;
}

.text-zone-about h1 {
    font-size: 620%;
    font-weight: 800;
    letter-spacing: -3px;
    margin-bottom: -31px;
    opacity: 0.15;
}

.text-zone-about p {
    font-size: 125%;
}

.about-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.about-container .image {
    width: 22%;
    height: 360px;
    position: relative;
}

.about-container .image::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 100%;
    border-left: 20px solid #ebeced;
    border-top: 40px solid #ebeced;
    border-bottom: 40px solid #ebeced;
    top: -40px;
    left: -20px;
}

.about-container .image::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 80%;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    top: -42px;
    right: -130px;
    z-index: -1;
}

.about-container .image img {
    width: 100%;
    height: 100%;
}



.about-container .container-text {
    width: 60%;
    padding: 20px;
    line-height: 30px;
}

.about-container .container-text p:first-child {
    font-weight: 700;
}

.about-container .container-text hr {
    width: 50%;
    margin: 60px 0 3% 0;
    border-color: var(--main-color);
}

.about-container .container-text p:last-child {
    opacity: 0.55;
}