:root {
    --main-color: #10cab7;
    --blue-color: #2c4755;
    --grey-section: #f6f6f6;
    font-family: "Work Sans", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

}

/* -------------------------- HEADER --------------------------- */

header {
    height: 100vh;
}

.top-header {
    height: 10%;
    background-color: white;
    padding: 0 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.top-header img {
    width: 55px;
    height: 25px;
}

.nav {
    position: relative;
}

.nav-divs {
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.nav-divs div {
    width: 30px;
    height: 2px;
    background-color: black;
    transition: width .5s;
}

.nav-divs div:nth-child(2) {
    width: 20px;
    align-self: flex-end;

}

.nav-links {
    position: absolute;
    top: 40px;
    right: 0;
    visibility: hidden;
}

.nav-links a {
    text-decoration: none;
    display: block;
    width: 190px;
    padding: 15px;
    background-color: var(--grey-section);
    margin-bottom: 1px;
    color: black;
    transition: .5s;

}

.triangle {
    position: absolute;
    bottom: -14px;
    right: 5px;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--grey-section);
    border-left: 10px solid transparent;
    visibility: hidden;
}

.nav:hover .nav-divs div {
    width: 30px;
}

.nav:hover .triangle {
    visibility: visible;
}

.nav:hover .nav-links {
    visibility: visible;
}

.nav-links a:hover {
    padding: 15px 25px;
}


.image-header {
    height: 90%;
    background-image: url("../images/ankit-manoharan-sVMzbc1ya6I-unsplash.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image-header .text-zone {
    width: 295px;
    height: 100px;
    line-height: 30px;
}

.image-header .text-zone h1 {
    font-size: 50px;
    margin-bottom: 30px;
    color: var(--main-color);
}

.image-header .text-zone p {
    font-size: 19px;
}




/* ------------------------------- FEATURES SECTION ------------------------------ */
.features {
    padding: 100px 220px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--grey-section);
}

.feature {
    width: 27%;
    height: 220px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feature i {
    color: var(--main-color);
    font-size: 55px;
}

.feature:last-child i {
    font-size: 50px;
}

.feature p {
    line-height: 25px;
    font-size: 105%;
    color: #777;
}

/* -------------------------- SERVICES SECTION --------------------------- */
.services {
    width: 100%;
    height: 100vh;
    padding: 50px 190px;
}

.services .text-zone {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    color: #ebeced;
}

.services .text-zone h1 {
    font-size: 620%;
    font-weight: 800;
    letter-spacing: -3px;
    margin-bottom: -31px;
}

.services .text-zone p {
    font-size: 125%;
    color: #797979;
}

.services .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 126%;
    background-color: var(--blue-color);
    top: 0;
    right: 0;
    transform: translate(50%, -45px);
}

.services .container .services-container {
    width: 72%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.services .container img {
    width: 23%;
    height: 350px;
    position: relative;
}

.service {
    width: 45%;
    display: flex;
    margin-bottom: 40px;
}

.service i {
    margin-right: 10px;
}

.service h3 {
    display: inline-block;
    margin-bottom: 20px;
}

.service p {
    color: #444;
    font-weight: 300;
    line-height: 24px;
}

.service i {
    color: #10cab7;
    font-size: 200%;
    margin: 0 20px;
}

/* ---------------------------------- PORTFOLIO SECTION ------------------------------ */
.portfolio {
    padding: 50px 190px;
    background-color: #f6f6f6;
}

.text-zone-portfolio {
    text-align: center;
    margin-bottom: 80px;
    color: #797979;
}

.text-zone-portfolio h1 {
    font-size: 620%;
    font-weight: 800;
    letter-spacing: -3px;
    margin-bottom: -31px;
    opacity: 0.1;
}

.text-zone-portfolio p {
    font-size: 125%;
}

.portfolio-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.single-portfolio {
    width: 31.6%;
    height: 400px;
    background-color: white;
}

.single-portfolio img {
    width: 100%;
    height: 60%;
    background-color: red;
}



.single-portfolio h3,
.single-portfolio p {
    margin: 20px;
}

.single-portfolio p {
    opacity: 0.55;
}

/* ----------------------------- ABOUT SECTION --------------------------------- */
.about {
    padding: 50px 200px 100px;
}

.text-zone-about {
    text-align: center;
    margin-bottom: 80px;
    color: #797979;
}

.text-zone-about h1 {
    font-size: 620%;
    font-weight: 800;
    letter-spacing: -3px;
    margin-bottom: -31px;
    opacity: 0.15;
}

.text-zone-about p {
    font-size: 125%;
}

.about-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.about-container .image {
    width: 22%;
    height: 360px;
    position: relative;
}

.about-container .image::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 100%;
    border-left: 20px solid #ebeced;
    border-top: 40px solid #ebeced;
    border-bottom: 40px solid #ebeced;
    top: -40px;
    left: -20px;
}

.about-container .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 80%;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    top: -42px;
    right: -148px;
    z-index: -1;
}

.about-container .image img {
    width: 100%;
    height: 100%;
}



.about-container .container-text {
    width: 60%;
    padding: 20px;
    line-height: 30px;
}

.about-container .container-text p:first-child {
    font-weight: 700;
}

.about-container .container-text hr {
    width: 50%;
    margin: 60px 0 3% 0;
    border-color: var(--main-color);
}

.about-container .container-text p:last-child {
    opacity: 0.55;
}

/* ----------------------------------- CONTACT ------------------------------------- */
.contact {
    padding: 75px 0 130px 0;
    background-color: #f6f6f6;
    text-align: center;
}

.text-zone-contact {
    margin-bottom: 80px;
    color: #797979;
}

.text-zone-contact h1 {
    font-size: 620%;
    font-weight: 800;
    letter-spacing: -3px;
    margin-bottom: -31px;
    opacity: 0.1;
}

.text-zone-contact p {
    font-size: 125%;
}

.contact h2:first-of-type {
    font-size: 210%;
    font-weight: 800;
    color: var(--blue-color);
    margin: 20px 0;
    letter-spacing: -2px;
}

.contact h2:last-of-type {
    font-size: 200%;
    font-weight: 800;
    color: var(--main-color);
    margin: 20px 0;
}

.contact i {
    margin: 0 4px;
}

/* -------------------------------------- FOOTER ----------------------------------- */
footer {
    padding: 30px 0;
    text-align: center;
    color: white;
    background-color: var(--blue-color);
    font-size: 115%;
}

footer span {
    color: var(--main-color);
    font-weight: 700;
}

/* ----------------------------- MEDIA QUERY ----------------------------- */
@media (max-width: 767px) {
    .top-header {
        padding: 0 40px;

    }

    .features {
        padding: 20px;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .feature {
        width: 100%;
        height: 200px;
        margin-bottom: 50px;
    }

    .services {
        padding: 20px;
        height: 1100px;
    }

    .services .text-zone {
        width: 100%;
        margin-bottom: 80px;
    }

    .services .text-zone h1 {
        font-size: 400%;
        margin-bottom: -22px;
    }

    .services .text-zone p {
        font-size: 100%;
    }

    .services .container {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
    }

    .container::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;

    }

    .services .container .services-container {
        width: 72%;
        height: 300px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .services .container img {
        width: 0;
        height: 0;
        position: relative;
    }

    .service {
        width: 100%;
        display: flex;
        margin-bottom: 40px;
    }

    .service i {
        margin-right: 10px;
    }

    .service h3 {
        display: inline-block;
        margin-bottom: 20px;
    }

    .service p {
        color: #444;
        font-weight: 300;
        line-height: 24px;
    }

    .service i {
        color: #10cab7;
        font-size: 200%;
        margin: 0 20px;
    }

    .portfolio {
        padding: 50px;
    }

    .text-zone-portfolio h1 {
        font-size: 400%;
        margin-bottom: -24px;
    }

    .text-zone-portfolio p {
        font-size: 90%;
    }

    .portfolio-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .single-portfolio {
        width: 100%;
        height: 400px;
        background-color: white;
    }

    .about {
        padding: 50px;
    }

    .text-zone-about h1 {
        font-size: 400%;
        margin-bottom: -24px;
    }

    .text-zone-about p {
        font-size: 90%;
    }

    .about-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-container .image {
        width: 50%;
        height: 360px;
        position: relative;
    }

    .about-container .image::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 0 solid #ebeced;
        border-top: 0 solid #ebeced;
        border-bottom: 0 solid #ebeced;
        top: -40px;
        left: -20px;
    }

    .about-container .image::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 0 solid var(--main-color);
        border-bottom: 0 solid var(--main-color);
        top: -42px;
        right: -148px;
        z-index: -1;
    }

    .contact {
        padding: 50px;
        background-color: #f6f6f6;
        text-align: center;
    }

    .text-zone-contact {
        margin-bottom: 80px;
        color: #797979;
    }

    .text-zone-contact h1 {
        font-size: 400%;
        font-weight: 800;
        letter-spacing: -3px;
        margin-bottom: -24px;
        opacity: 0.1;
    }

    .text-zone-contact p {
        font-size: 90%;
    }

    .contact h2:first-of-type {
        font-size: 180%;
        font-weight: 800;
        color: var(--blue-color);
        margin: 20px 0;
        letter-spacing: -2px;
    }

    .contact h2:last-of-type {
        font-size: 140%;
        font-weight: 800;
        color: var(--main-color);
        margin: 20px 0;
    }

    .contact i {
        margin: 0 4px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .top-header {
        padding: 20px 50px;

    }

    .features {
        padding: 20px;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .feature {
        width: 50%;
        height: 200px;
        margin-bottom: 50px;
    }

    .services {
        padding: 20px;
        height: 950px;
    }


}

@media (min-width: 992px) and (max-width: 1999px) {
    /* .top-header {
        padding: 20px 50px;

    }

    .features {
        padding: 20px;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .feature {
        width: 50%;
        height: 200px;
        margin-bottom: 50px;
    }

    .services {
        padding: 20px;
        height: 950px;
    }

    .services .text-zone {
        width: 100%;
        margin-bottom: 80px;
    }

    .services .text-zone h1 {
        font-size: 400%;
        margin-bottom: -22px;
    }

    .services .text-zone p {
        font-size: 100%;
    }

    .services .container {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
    }

    .container::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;

    }

    .services .container .services-container {
        width: 72%;
        height: 300px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .services .container img {
        width: 0;
        height: 0;
        position: relative;
    }

    .service {
        width: 100%;
        display: flex;
        margin-bottom: 40px;
    }

    .service i {
        margin-right: 10px;
    }

    .service h3 {
        display: inline-block;
        margin-bottom: 20px;
    }

    .service p {
        color: #444;
        font-weight: 300;
        line-height: 24px;
    }

    .service i {
        color: #10cab7;
        font-size: 200%;
        margin: 0 20px;
    }

    .portfolio {
        padding: 50px;
    }

    .text-zone-portfolio h1 {
        font-size: 400%;
        margin-bottom: -24px;
    }

    .text-zone-portfolio p {
        font-size: 90%;
    }

    .portfolio-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .single-portfolio {
        width: 100%;
        height: 400px;
        background-color: white;
    }

    .about {
        padding: 50px;
    }

    .text-zone-about h1 {
        font-size: 400%;
        margin-bottom: -24px;
    }

    .text-zone-about p {
        font-size: 90%;
    }

    .about-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-container .image {
        width: 50%;
        height: 360px;
        position: relative;
    }

    .about-container .image::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 0 solid #ebeced;
        border-top: 0 solid #ebeced;
        border-bottom: 0 solid #ebeced;
        top: -40px;
        left: -20px;
    }

    .about-container .image::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 0 solid var(--main-color);
        border-bottom: 0 solid var(--main-color);
        top: -42px;
        right: -148px;
        z-index: -1;
    }

    .contact {
        padding: 50px;
        background-color: #f6f6f6;
        text-align: center;
    }

    .text-zone-contact {
        margin-bottom: 80px;
        color: #797979;
    }

    .text-zone-contact h1 {
        font-size: 400%;
        font-weight: 800;
        letter-spacing: -3px;
        margin-bottom: -24px;
        opacity: 0.1;
    }

    .text-zone-contact p {
        font-size: 90%;
    }

    .contact h2:first-of-type {
        font-size: 180%;
        font-weight: 800;
        color: var(--blue-color);
        margin: 20px 0;
        letter-spacing: -2px;
    }

    .contact h2:last-of-type {
        font-size: 140%;
        font-weight: 800;
        color: var(--main-color);
        margin: 20px 0;
    }

    .contact i {
        margin: 0 4px;
    } */
}