* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent {
    background-color: #aaa;
}

.container {
    margin: 0 auto;
    background-color: #eee;
    padding: 0 15px;
}

/* // Small Screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* // Medium Screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* // Large Screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}